/chunk/
/chunkHiPC/
amd_ags_x64.dll
config.ini
/DLL/
graphics_option.ini
graphics_option_preset.ini
MonsterHunterWorld.exe
nvngx_dlisp.dll
nvngx_dlss.dll
/savedata_backup/
steam_api64.dll
/src/__pycache__
*.dll
loader-config.json
*.tex
*.itlot
*.rem
*.cms
*.efx
*.gmd
*.mib
*.nbnk
*.rtex
*.uvs
*.thk
*.epv3
*.ctm
*.ik
*.nbik
*.mhla
*.shlp
*.mod3
*.mrl3
*.ctc
/nativePC/pl/m_equip
/nativePC/pl/f_equip
/nativePC/quest/enemy
/nativePC/em
/nativePC/quest
/nativePC/sound
*.evwp
*.sobj
*.timl
*.dds
/nativePC/wp/slg
