/chunk/
/chunkHiPC/
amd_ags_x64.dll
config.ini
/DLL/
graphics_option.ini
graphics_option_preset.ini
MonsterHunterWorld.exe
nvngx_dlisp.dll
nvngx_dlss.dll
/savedata_backup/
steam_api64.dll
/src/__pycache__
